body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #000520;
}

.nav-spacer {
  background-color: #003262;
  padding: 40px;
}

.berkeley-gold {
  background-color: #c4820e;
  padding: 5px;
}

.p-tag {
  margin-top: 1em;
}

/* Transportation options */
.small-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card {
  background-color: #003262;
  /* background-color: #c4820e; */
  border-radius: 10%;
}

.card-img-top:hover {
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(196, 130, 14, 0.5);
}

.card-img-top.selected {
  background-color: #c4820e;
}

.card input[type="radio"] {
  display: none;
}
.card input[type="radio"] + img {
  cursor: pointer;
  border: 2px solid transparent;
}

.card input[type="radio"]:checked + img {
  /* Berkeley Blue */
  box-shadow: 0 8px 20px rgba(17, 75, 129, 0.9);
  border-radius: 10%;
  /* box-shadow: 0 8px 15px rgba(196, 130, 14, 0.3); */
  background-color: rgb(196, 130, 14);
}

/* Style for remaining modes of transportation */
.remaining-list {
  color: #c4820e;
}

/* Icon bar for footer */
.icon-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e2e2e;
  overflow: auto;
  white-space: nowrap;
}

.icon-bar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 8px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #c4820e;
}

.main-content {
  margin-bottom: 80px;
}
